<div style="color:aliceblue">
    <h2 id="mov" class="movieHeader" style="text-align:center">Now Playing</h2>
    <hr>
    <div class="row" style="width:100%" align="center">
        <div class="col-sm-3">
            <a href="Movie.php"><img src="../assets/images/Mov5.jpg" class="view"></a>
        </div>
        <div class="col-sm-3">
            <a href="Movie2.php"><img src="../assets/images/Mov6.jpg" class="view"></a>
        </div>
        <div class="col-sm-3">
            <a href="Movie3.php"><img src="../assets/images/Mov7.jpg" class="view"></a>
        </div>
        <div class="col-sm-3">
            <a href="Movie4.php"><img src="../assets/images/Mov8.jpg" class="view"></a>
        </div>
        <br>
    <br>
    </div>
    <div class="collapse" id="more" style="padding:10pt 0pt 0pt 0pt">
        <div class="row" style="width:100%" align="center">
            <div class="col-sm-3">
                <a href="Movie5.php"><img src="../assets/images/Mov9.jpg" class="view"></a>
            </div>
            <div class="col-sm-3">
                <a href="Movie6.php"><img src="../assets/images/Mov10.jpg" class="view"></a>
            </div>
            <div class="col-sm-3">
                <a href="Movie7.php"><img src="../assets/images/Mov11.jpg" class="view"></a>
            </div>
            <div class="col-sm-3">
                <a href="Movie8.php"><img src="../assets/images/Mov12.jpg" class="view"></a>
            </div>
        </div>
    </div>
    <br>

    <div class="text-center">
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#more">
        See more
      </a>
    </div>
    <!-- JANGAN LUPA INI MAU DIGANTI -->
    <!-- <a id="toggleButton" class="btn btn-secondary" role="button" onclick="Show()" href="javascript:void(0);">See More</a> -->
    <hr>
    <h2 id="mov" class="movieHeader" style="text-align:center">Coming Soon</h2>
    <hr>
    <div class="row" style="width:100%" align="center">
        <div class="col-sm-3">
            <img src="../assets/images/Mov5.jpg" class="view">
        </div>
        <div class="col-sm-3">
            <img src="../assets/images/Mov6.jpg" class="view">
        </div>
        <div class="col-sm-3">
            <img src="../assets/images/Mov7.jpg" class="view">
        </div>
        <div class="col-sm-3">
            <img src="../assets/images/Mov8.jpg" class="view">
        </div>
        <br>
    <br>
    </div>
    <div class="collapse" id="more2" style="padding:10pt 0pt 0pt 0pt">
        <div class="row" style="width:100%" align="center">
            <div class="col-sm-3">
                <img src="../assets/images/Mov9.jpg" class="view">
            </div>
            <div class="col-sm-3">
                <img src="../assets/images/Mov10.jpg" class="view">
            </div>
            <div class="col-sm-3">
                <img src="../assets/images/Mov11.jpg" class="view">
            </div>
            <div class="col-sm-3">
                <img src="../assets/images/Mov12.jpg" class="view">
            </div>
        </div>
    </div>