<h2 class="header" style="text-align:center">Cinemas</h2>
    <hr>
    <div class="row" style="width:100%" align="center">
        <div class="col-sm-6">
            <a href="https://www.instagram.com/cgv.id/" target="_blank"><img src="../assets/images/CGV.png" class="view cinemaImages"></a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.facebook.com/CinemaXXI?ref=ts&fref=ts" target="_blank"><img src="../assets/images/XXI.png" class="view cinemaImages"></a>
        </div>
</div>
<hr>
<br>