<body style="background-color: #2A363B" onload="tabbed(event, 'LogIn');">
    <br>
    <br>
    <div style="color:aliceblue; width:80%; position:relative; margin:auto">
        <div class="tab" style="text-align:center">
            <button class="tablinks" onclick="tabbed(event, 'SignUp')" style="color: black">Sign Up</button>
            <button class="tablinks" onclick="tabbed(event, 'LogIn')" style="color: black">Log In</button>
        </div>
        <div id="SignUp" class="tabcontent">
            <h3>Sign Up</h3>
            <hr>
            <form method="post" (submit)="register()">
                <h5>Preferred Cinema</h5>
                <select [(ngModel)]="signup.preferred_cinema_id" name="preferredCinema" id="select">
                    <option selected disabled>Select</option>
                    <option *ngFor="let cinema of cinemaData" [value]="cinema[0].id">{{cinema[0].cinema_name}}</option> 
                </select>
                <h5>Name</h5>
                <input type="text" [(ngModel)]="signup.name" [ngModelOptions]="{standalone: true}" require>
                <h5>Email</h5>
                <input type="email" [(ngModel)]="signup.email" [ngModelOptions]="{standalone: true}" require>
                <h5>Password</h5>
                <input type="password" [(ngModel)]="signup.password" [ngModelOptions]="{standalone: true}" require>
                <h5>Phone Number</h5>
                <input type="text" [(ngModel)]="signup.phone_number" [ngModelOptions]="{standalone: true}" require>
                <h5>Gender</h5>
                <select [(ngModel)]="signup.gender" [ngModelOptions]="{standalone: true}" name="gender" id="select">
                    <option selected disabled>Select</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <h5>Birthdate(Format: dd/mm/yyyy)</h5>
                <input type="text" [(ngModel)]="signup.birth_date" [ngModelOptions]="{standalone: true}" require>
                <h5>City</h5>
                  <select [(ngModel)]="signup.city" name="city" id="select">
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let city of cityData" [value]="city.city">{{city.city}}</option>
                  </select>
                <br><br>
                <input type="submit" value="Submit" name="Submit" style="color:black; width:7%; position:relative; left:47%; background-color: grey; border: 2px solid black">
            </form>
        </div>
        <div id="LogIn" class="tabcontent">
            <h3>Log In</h3>
            <hr>
            <form action="post" (submit)="login()">
                <h5>Email</h5>
                <input type="email" [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}" name="email" require>
                <h5>Password</h5>
                <input type="password" [(ngModel)]="model.password" [ngModelOptions]="{standalone: true}" name="password" require>
                <br><br>
                <input type="submit" value="Submit" name="Submit" style="color:black; width:7%; position:relative; left:47%; background-color: grey; border: 2px solid black">
            </form>
        </div>
    </div>
</body>