<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo" routerLink="/home">JAVTix</a>
        </div>
        <ul class="nav navbar-nav navs">
          <li class="view zoom">
              <a routerLink="/home"><span class="glyphicon glyphicon-home"></span></a>
          </li>
          <li class="navs view zoom">
              <a routerLink="/meet-the-team">Meet the team</a>
          </li>
        </ul>
        <ul *ngIf="loggedIn" class="nav navbar-nav navbar-right navs">
          <li>
            <a class="btn btn-danger" role="button" (click)="logout()">Logout</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navs view zoom">
            <li>
                <a href="/dashboard">
                    <span class="glyphicon glyphicon-user"></span> User</a>
            </li>
        </ul>
    </div>
</nav>