<body style="background-color: #2A363B" onload="tabbed(event, 'dashboard');">
    <br>
    <br>
    <div style="color:aliceblue; width:80%; position:relative; margin:auto">
        <div class="tab" style="text-align:center">
            <button class="tablinks" onclick="tabbed(event, 'dashboard')" style="color: black">Dashboard</button>
            <button class="tablinks" onclick="tabbed(event, 'edit')" style="color: black">Edit</button>
        </div>
        <!-- Display current data -->
        <div id="dashboard" class="tabcontent" style="background-color: #2A363B">
            <h3>Dashboard</h3>
            <hr>
            <form method="post">
            <fieldset id="profile" style="border: none" disabled>
                <h5>
                    <b>--Name--</b>
                </h5>
                <input type="text" id="profileA" name="name" [(ngModel)]="model.name">
                <br>
                <br>
                <h5>
                    <b>--Birthday--</b>
                </h5>
                <input type="text" id="profileB" name="birthDate" [(ngModel)]="model.birthDate">
                <br>
                <br>
                <h5>
                    <b>--City--</b>
                </h5>
                <input type="text" id="profileC" name="city" [(ngModel)]="model.city">
                <br>
                <br>
                <h5>
                    <b>--Phone Number--</b>
                </h5>
                <input type="tel" id="profileD" name="phoneNumber" [(ngModel)]="model.phoneNumber">
                <br>
                <br>
                <h5>
                    <b>--Email--</b>
                </h5>
                <input type="email" id="profileE" name="email" [(ngModel)]="model.email">
                <br>
                <br>
            </fieldset>
            </form>
        </div>
        <!-- Also display current data, but pencil button allow edit of current data -->
        <div id="edit" class="tabcontent" style="background-color: #2A363B">
            <h3>Edit</h3>
            <hr>
            <h5 style="text-align: center">If you need any changes, please contact the admin.</h5>
        </div>   
    </div>
</body>

