<div class="container" style="background-color: aliceblue">
	<div class="row">
		<div class="col-sm-6">
			<img src="../assets/images/avatar.png" alt="Avatar" class="avatar">
			<div class="btn-group">
				<a class="fa fa-instagram" role="button"></a>
				<a class="fa fa-facebook" role="button"></a>
				<a class="fa fa-twitter" role="button"></a>
			</div>
		</div>
		<div class="col-sm-6 info">
			<p>Archel Taneka</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 info2">
			<p>Bernardus Jeffrey</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="col-sm-6">
			<div class="btn-group">
				<a class="fa fa-instagram zoom" role="button"></a>
				<a class="fa fa-facebook" role="button"></a>
				<a class="fa fa-twitter" role="button"></a>
			</div>
			<img src="../assets/images/avatar.png" alt="Avatar" class="avatar">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img src="../assets/images/avatar.png" alt="Avatar" class="avatar">
			<div class="btn-group">
				<a class="fa fa-instagram" role="button"></a>
				<a class="fa fa-facebook" role="button"></a>
				<a class="fa fa-twitter" role="button"></a>
			</div>
		</div>
		<div class="col-sm-6 info">
			<p>Vincent Alexander</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>