<div class="container" style="background-color: aliceblue">
	<div class="row">
		<div class="col-sm-6">
			<img src="../assets/images/avatar.png" alt="Avatar" class="avatar">
			<div class="btn-group">
				<a class="fa fa-instagram" role="button"></a>
				<a class="fa fa-facebook" role="button"></a>
				<a class="fa fa-twitter" role="button"></a>
			</div>
		</div>
		<div class="col-sm-6 info">
			<p class="team">Jeffrey Darmawan</p>
			<p>Backend</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 info2">
			<p class="team">Archel Taneka</p>
			<p>Frontend, Deployment</p>
		</div>
		<div class="col-sm-6">
			<div class="btn-group">
				<a class="fa fa-instagram zoom" role="button"></a>
				<a class="fa fa-facebook" role="button"></a>
				<a class="fa fa-twitter" role="button"></a>
			</div>
			<img src="https://i.imgur.com/JMWGxOm.jpg" alt="Avatar" class="avatar">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img src="https://i.imgur.com/np78myO.jpg" alt="Avatar" class="avatar">
			<div class="btn-group">
				<a class="fa fa-instagram" role="button"></a>
				<a class="fa fa-facebook" role="button"></a>
				<a class="fa fa-twitter" role="button"></a>
			</div>
		</div>
		<div class="col-sm-6 info">
			<p class="team">Vincent Alexander</p>
			<p>Frontend</p>
		</div>
	</div>
</div>