<body>
	<div style="color:aliceblue"> 
        <table cellspacing="10" style="position:relative; left:25%"> 
            <tr> 
                <td> 
                    <img src="{{ mov[0].image_url }}"> 
                </td> 
                <td> 
                    <iframe width="500" height="350" src="https://www.youtube.com/embed/KpFMVcZ4o7U"> 
                    </iframe> 
                </td> 
            </tr> 
        </table> 
        <br> 
        <table style="position:relative; left:25%; color:aliceblue"> 
            <tr> 
                <td style="width:750px"> 
                	<h2>{{ mov[0].movie_name }}</h2>
                	<br>
                    {{ mov[0].synopsis }}
                    <br>
                    <br>
                    Director: {{ mov[0].director }}
                    <br>
                    Stars: {{ mov[0].casts }}
                    <br>
                    <br>
                    Duration: {{ mov[0].duration }} minutes
                    <br>
                    Rating: {{ mov[0].rating }}
                </td> 
            </tr> 
        </table> 
        <h2 id="schedule" style="text-align:center">Schedule</h2> 
        <hr> 
        <div class="row" style="width:100%" align="center"> 
            <div class="col-sm-6"> 
                <table style="color:aliceblue"> 
                    <tr> 
                        <th style="text-align:center"> 
                            <h3>Time</h3> 
                        </th> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center">
                            <ul>
                                <li *ngFor="let info of movieInfo">{{info.time}}</li>
                            </ul>
                        </td> 
                    </tr> 
                </table> 
            </div>
            <div class="col-sm-6"> 
                <table style="color:aliceblue"> 
                    <tr> 
                        <th style="text-align:center"> 
                            <h3>Place</h3> 
                        </th> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center"> 
                            <ul>
                                <li *ngFor="let info of movieInfo">{{info.cinemas}}</li>
                            </ul>
                        </td> 
                    </tr> 
                </table> 
            </div>
        </div> 
        <div style="text-align:center"> 
            <h3>Interested?</h3>
            <form method="post">
                <h5>Select Theatre</h5> 
                <select style="color:black" (change)="selectTheatre($event)"> 
                    <option style="color:grey" disabled selected>Select</option> 
                    <option *ngFor="let info of lstOfTheatre">{{info}}</option>
                </select> 
                <h5>Select Time</h5> 
                <select style="color:black" (change)="selectTime($event)"> 
                    <option style="color:grey" disabled selected>Select</option> 
                    <option *ngFor="let info of lstOfTime" [value]="">{{info}}</option>
                </select>
                <h4>Seats</h4> 
                <select style="color:black" (change)="selectSeat($event)">
                    <option style="color:grey" disabled selected>Select</option>
                    <option *ngFor="let info of selectedSeat" [value]="id1">{{info['seat_number']}}</option>
                </select>
                <br>
                <h4>Promo Available</h4> 
                <select style="color:black" (change)="selectPromo($event)">
                    <option style="color:grey" disabled selected>Select</option>
                    <option *ngFor="let info of lstOfPromos" [value]="info.id">{{info.name}}</option>
                </select>
                <br><br>
                <input type="submit" value="Submit" name="Submit" (click)="purchase()" style="color:black; width:7%; position:absolute; left:46.5%; background-color: grey; border: 2px solid black">
            </form> 
        </div> 
    </div> 
    <br> 
    <footer> 
    </footer> 
</body>