<body>
	<div style="color:aliceblue"> 
        <table cellspacing="10" style="position:relative; left:25%"> 
            <tr> 
                <td> 
                    <img src="{{ mov[0].image_url }}"> 
                </td> 
                <td> 
                    <iframe width="500" height="350" src="https://www.youtube.com/embed/KpFMVcZ4o7U"> 
                    </iframe> 
                </td> 
            </tr> 
        </table> 
        <br> 
        <table style="position:relative; left:25%; color:aliceblue"> 
            <tr> 
                <td style="width:750px"> 
                	<h2>{{ mov[0].movie_name }}</h2>
                	<br>
                    {{ mov[0].synopsis }}
                    <br>
                    <br>
                    Director: {{ mov[0].director }}
                    <br>
                    Stars: {{ mov[0].casts }}
                    <br>
                    <br>
                    Duration: {{ mov[0].duration }} minutes
                    <br>
                    Rating: {{ mov[0].rating }}
                </td> 
            </tr> 
        </table> 
        <h2 id="schedule" style="text-align:center">Schedule</h2> 
        <hr> 
        <div class="row" style="width:100%" align="center"> 
            <div class="col-sm-6"> 
                <table style="color:aliceblue"> 
                    <tr> 
                        <th style="text-align:center"> 
                            <h3>CGV</h3> 
                        </th> 
                    </tr> 
                    <tr> 
                        <td *ngFor="let info of movieInfo" style="text-align:center"> 
                            {{info.time}} 
                        </td> 
                    </tr> 
                </table> 
            </div> 
            <div class="col-sm-6"> 
                <table style="color:aliceblue"> 
                    <tr> 
                        <th style="text-align:center"> 
                            <h3>XXI</h3> 
                        </th> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center"> 
                            10:10 - 12:40 
                        </td> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center"> 
                            13:10 - 15:40 
                        </td> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center"> 
                            16:10 - 18:40 
                        </td> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center"> 
                            19:10 - 21:40 
                        </td> 
                    </tr> 
                    <tr> 
                        <td style="text-align:center"> 
                            22:10 - 00:40 
                        </td> 
                    </tr> 
                </table> 
            </div> 
        </div> 
        <div style="text-align:center"> 
            <h3>Interested?</h3> 
            <form> 
                <h5>Number of People</h5> 
                <input type="number" value="" name="numberPeople" style="color:white" require> 
                <h4>Seats</h4> 

                <h5>Time</h5> 
                <select *ngFor="let info of movieInfo"  name="time" id="time" style="color:black"> 
                    <option value="" style="color:grey" disabled selected>Select</option> 
                    <option>{{info.time}}</option>
                </select> 
                <br> 
                <br> 
                <input type="submit" value="Submit" name="Submit" style="color:black; width:7%; position:absolute; left:46.5%; background-color: grey; border: 2px solid black"> 
            </form> 
        </div> 
    </div> 
    <br> 
    <footer> 
    </footer> 
</body>